@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&display=swap');

* {
  text-align: center;
  font-family: 'Piazzolla', serif;
}

.triviaHut {
  margin: 50px;
  font-size: 45px;
}

.color1 {
  color: rgb(218, 158, 216);
}
.color2 {
  color: rgb(0, 255, 166);
}
.color3 {
  color: rgb(214, 225, 227);
}
.color4 {
  color: rgb(254, 230, 49);
}
.color5 {
  color: rgb(43, 213, 48);
}
.color6 {
  color: rgb(233, 143, 47);
}
.color7 {
  color: rgb(104, 51, 228);
}
.color8 {
  color: rgb(214, 233, 5);
}
.color9 {
  color: rgb(232, 144, 144);
}

.scorePage {
  margin-top: 50px;
  line-height: 70px;
}

.madeBy {
  margin-top: 100px;
}
